/* No <a></a> tag underlines */
a {
  text-decoration: none !important;
}

/* Class to darken a background image */
.less-dark-img {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Class to darken a background image */
.dark-img {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.less-dark-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.55); /* Black with 50% opacity */
  z-index: -2; /* Set it below the image */
}

.less-dark-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Above the darkened layer but below the content */
}

.dark-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.85); /* Black with 50% opacity */
  z-index: -2; /* Set it below the image */
}

.dark-img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Above the darkened layer but below the content */
}

/* Otherwise ant icons are aligned too low */
.anticon {
  vertical-align: 0px;
}

.navbar-collapse {
  margin-left: 15px;
}

.navbar ul {
  margin-bottom: 0px !important;
}

.navbar li {
  margin-bottom: 0px !important;
}

/* Reduce the indent size of React Quill + other list element  styling */

.ql-editor {
  padding: 0 !important;
}

.ql-editor ul {
  padding: 0 !important;
  margin-bottom: 0.5em !important;
}

li {
  margin-bottom: 0.5em !important;
}

.ql-editor .ql-indent-1 {
  padding-left: 3em !important;
}

.ql-editor .ql-indent-2 {
  padding-left: 6em !important;
}

.ql-editor .ql-indent-3 {
  padding-left: 9em !important;
}

p {
  margin-bottom: 1em !important;
}
